In [88]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier

In [89]:
titanic = pd.read_csv('./_ea07570741a3ec966e284208f588e50e_titanic.csv')

In [90]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [94]:
titanic = titanic[titanic['Age'].notna()]
titanic[titanic['Sex'].isna()].count()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [79]:
X_train = titanic[['Pclass', 'Fare', 'Age', 'Sex']]
y_train = titanic.Survived

In [80]:
X_train = X_train.replace({'Sex': {'male': 1, 'female': 0}})

In [81]:
clf = DecisionTreeClassifier(random_state=241)

In [82]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(random_state=241)

In [83]:
importances = clf.feature_importances_

In [84]:
importances

array([0.14000522, 0.30343647, 0.2560461 , 0.30051221])

In [85]:
pd.DataFrame({'feature': list(X_train), 'importances': importances}).sort_values('importances', ascending=False)

  feature  importances
1    Fare     0.303436
3     Sex     0.300512
2     Age     0.256046
0  Pclass     0.140005

In [95]:
text_file = open('./data.txt', 'w')
text_file.write('Fare Sex')
text_file.close()