In [29]:
import pandas as pd
import numpy as np

In [30]:
wines = pd.read_csv('_805605c804bae8c5c24785f433b230ce_wine.data')

In [31]:
wines = wines.rename(columns = {wines.columns[0]: 'class',
                        wines.columns[1]: 'Alcohol',
                        wines.columns[2]: 'Malic acid',
                        wines.columns[3]: 'Ash',
                        wines.columns[4]: 'Alcalinity of ash',
                        wines.columns[5]: 'Magnesium',
                        wines.columns[6]: 'Total phenols',
                        wines.columns[7]: 'Flavanoids',
                        wines.columns[8]: 'Nonflavanoid phenols',
                        wines.columns[9]: 'Proanthocyanins',
                        wines.columns[10]: 'Color intensity',
                        wines.columns[11]: 'Hue',
                        wines.columns[12]: 'OD280/OD315 of diluted wines',
                        wines.columns[13]: 'Proline'})

In [32]:
wines

,class,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
173,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
174,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
175,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
176,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [72]:
X = wines.drop(['class'], axis=1)
y = wines['class']

In [73]:
X.shape

(177, 13)

In [74]:
y.shape

(177,)

In [75]:
from sklearn.model_selection import KFold

In [76]:
kf = KFold(n_splits=5, shuffle=True, random_state=42)

In [77]:
from sklearn.neighbors import KNeighborsClassifier

In [78]:
def KFold_max_score(X, y):
    max_score = 0
    k_max_score = 0
    for k in range(1, 50):
        neigh = KNeighborsClassifier(n_neighbors=k)
        sum_score = 0 
        for train_index, test_index in kf.split(X):
            if type(X) == pd.DataFrame:
                X_train, X_test = X.iloc[train_index], X.iloc[test_index]
                y_train, y_test = y.iloc[train_index], y.iloc[test_index]
            else:
                X_train, X_test = X[train_index], X[test_index]
                y_train, y_test = y[train_index], y[test_index]
            neigh.fit(X_train, y_train)
            sum_score = sum_score + neigh.score(X_test, y_test)
        mean_score = sum_score / 5
        if mean_score > max_score:
            max_score = mean_score
            k_max_score = k
    return max_score, k_max_score

In [79]:
KFold_max_score(X, y)

(0.7352380952380952, 1)

In [80]:
from sklearn.preprocessing import scale

In [81]:
X = scale(X)

In [82]:
KFold_max_score(X, y)

(0.9773015873015873, 28)

In [88]:
text_file = open("./data.txt", "w")
text_file.write('0.97')
text_file.close()