In [83]:
import pandas as pd
import numpy as np
from sklearn.linear_model import Perceptron
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

In [103]:
perceptron_train = pd.read_csv('_3abd237d917280ba0d83bfe6bd49776f_perceptron-train.csv')
perceptron_test = pd.read_csv('_3abd237d917280ba0d83bfe6bd49776f_perceptron-test.csv')
perceptron_train = perceptron_train.rename(columns={perceptron_train.columns[0]: '1',
                                                    perceptron_train.columns[1]: '2',
                                                    perceptron_train.columns[2]: '3'})
perceptron_test = perceptron_test.rename(columns={perceptron_test.columns[0]: '1',
                                                   perceptron_test.columns[1]: '2',
                                                   perceptron_test.columns[2]: '3'})

In [104]:
perceptron_train

       1         2            3
0   -1.0 -0.024626  1174.600238
1    1.0 -0.978058  1083.198803
2   -1.0  0.314272 -1472.977609
3   -1.0  0.179752   231.017267
4    1.0 -1.262544  -778.271726
..   ...       ...          ...
295 -1.0 -0.126438  1861.564124
296 -1.0 -0.490972  1815.652064
297  1.0 -0.375750  -314.074374
298  1.0 -1.861976 -1083.677679
299  1.0 -0.039329 -1863.884299

[300 rows x 3 columns]

In [105]:
perceptron_test

       1         2            3
0   -1.0  1.651437  1337.453826
1    1.0 -0.866495  1191.232457
2   -1.0  0.789828  -475.647768
3   -1.0  0.179549  1959.095353
4    1.0 -0.434351   568.504207
..   ...       ...          ...
195 -1.0  1.150206  2559.850231
196  1.0 -0.732462   159.748695
197  1.0  0.412912 -1587.206427
198 -1.0 -0.098685   682.034777
199  1.0  0.760949 -1577.448794

[200 rows x 3 columns]

In [106]:
X_train = perceptron_train.iloc[:, [1,2]]
y_train = perceptron_train[perceptron_train.columns[0]]
X_test = perceptron_test.iloc[:, [1,2]]
y_test = perceptron_test[perceptron_test.columns[0]]

In [124]:
clf = Perceptron(max_iter=5, tol=None, random_state=241)

In [125]:
clf.fit(X_train, y_train)

Perceptron(max_iter=5, random_state=241, tol=None)

In [126]:
predictions = clf.predict(X_test)

In [127]:
score = accuracy_score(predictions, y_test)

In [128]:
score

0.655

In [129]:
scaler = StandardScaler()

In [130]:
X_train_scaled = scaler.fit_transform(X_train)

In [131]:
X_test_scaled = scaler.transform(X_test)

In [132]:
clf = Perceptron(max_iter=5, tol=None, random_state=241)

In [133]:
clf.fit(X_train_scaled, y_train)

Perceptron(max_iter=5, random_state=241, tol=None)

In [134]:
predictions = clf.predict(X_test_scaled)

In [135]:
score_scaled = accuracy_score(predictions, y_test)

In [136]:
score_scaled

0.84

In [137]:
score_scaled - score

0.18499999999999994

In [141]:
text_file = open("data.txt", "w")
text_file.write('0.185')
text_file.close()